export APP_SETTINGS='config.DevelopmentConfig' # choose/modify preferred class from config.py
export DATABASE_URL='protocol://username:password@databasehost:port/database_name'
export CODE_GENERATOR_EXECUTABLE='xyz' # actual executable e.g. barcode
export BASE_MMS_URL='http://example.com/some_directory'
export TWILIO_ACCOUNT_SID='your account sid'
export TWILIO_AUTH_TOKEN='your auth token'
export SENT_FROM='+1234567890' # sender's number
